.xcp-publish-main {
  display: flex
}

.left {
  width: 64px
}

.x-avatar {
  width: 48px;
  height: 48px;
  display: blocks;
  position: relative;
}

.x-avatar-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.xcp-publish .x-avatar-img {
  margin-top: 10px;
}

.x-avatar-img {
  margin-top: 40px;
  position: relative;
  width: 100%;
  height: 100%
}

.right {
  flex: 1;
}

.x-interact-publish {
  width: 100%;
  font-size: 13px;
  color: #222;
}

.x-interact-publish-cont, .x-interact-publish-cont-topic {
  display: flex;
  width: 100%;
  background: #f5f5f6;
  border-radius: 12px;
}

.x-interact-publish .text-area {
  padding: 16px 16px 23px;
  width: 100%;
  resize: none;
  background: #f5f5f6;
  border-radius: 12px;
  border: none;
  color: #1f1f1f;
}

.x-interact-publish-panel-center {
  padding-top: 4px;
}

.x-interact-publish-opt {
  position: relative;
  display: flex;
  height: 30px;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 8px;
}

.x-interact-publish .send.disabled {
  opacity: .2;
  cursor: not-allowed;
}

.x-interact-publish .reply.disabled {
  opacity: .2;
  cursor: not-allowed;
}

.x-interact-publish .send {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: #4e6ef2;
  border-radius: 6px;
}

.x-interact-publish .reply {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: #4e6ef2;
  border-radius: 6px;
}



.xcp-item {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  padding-top: 28px;
  font-size: 14px;
  color: #222;
}

.user-bar {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  font-family: PingFangSC-Regular;
}

.user-bar-uname {
  font-family: PingFangSC-Semibold;
  font-size: 13px;
  color: #222;
}

.user-bar-dc {
  width: 13px;
  height: 13px;
  margin-left: 4px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.x-interact-rich-text {
  padding-top: 10px;
  font: 14px/22px PingFangSC-Regular;
  color: #222;
  text-align: justify;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

.x-interact-rich-text {
  padding-top: 10px;
  font: 14px/22px PingFangSC-Regular;
  color: #222;
  text-align: justify;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

.interact-bar {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-top: 8px;
  font-family: PingFangSC-Regular;
  font-size: 13px;
  color: #9195a3;
}

.interact-bar-left {
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.interact-bar-left .delete, .interact-bar-left .report {
  display: none;
  margin-left: 10px;
  cursor: pointer;
}


.interact-bar-right {
  -webkit-box-pack: end;
  justify-content: flex-end;
  color: #222;
  display: flex;
}

.interact-bar-right .reply {
  cursor: pointer;
}

.interact-bar-right .like, .interact-bar-right .reply {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.interact-bar-right .reply-icon {
  background-image: url(https://b.bdstatic.com/searchbox/icms/searchbox/img/xcp-reply.png);
}

.interact-bar-right .like {
  cursor: pointer;
  margin-left: 16px;
}

.interact-bar-right .like, .interact-bar-right .reply {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.xcp-list-loader {
  margin-top: 64px;
  height: 42px;
  font: 14px PingFangSC-Regular;
  text-align: center;
  line-height: 42px;
  color: #626675;
  background: #f5f5f6;
  border-radius: 6px;
  cursor: pointer;
}

/* 头部菜单栏 */
.top-nav {
  height: 64px;
  font-size: 12px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--cb-typo-font-family-base, -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif);
  background-color: #f7f7f7;
  color: #aaa;
  z-index: 999;
  box-shadow: 0 2px 4px 0 var(--cb-color-shadow, rgba(0, 0, 0, 0.16));
}

.items {
  justify-content: flex-start;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.item {
  width: 30%;
  display: inline-block;
  position: relative;
  font-size: 20px;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
}

.top-nav-link {
  color: var(--cb-color-button-text-brand-secondary-text, #666);
  text-decoration: none;
}

/* share copy */
.share.copy {
  width: 160px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: var(--d1);
  background-color: #fff;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  margin-bottom: 10px;
}

.share.result {
  color: #fff;
  min-width: 100px;
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
  line-height: normal;
}

.login-item {
  width: 30%;
  display: inline-block;
  position: relative;
  font-size: 20px;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  height: 30px;
  overflow: hidden;
}

.login-item:hover {
  overflow: visible;
}

.login {
  color: red;
  overflow: hidden;
}

.login:before{
  width: 30px;
  height: 30px;
  font-family: 'icomoon' !important;
  content: "\e903";
}

.login:after{

}

.login:hover {
  opacity: 1;
  height: 150px;
}

.head-dropdown {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  z-index: 9999;
}

.head-dropdown a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: white;
  width: 100%;
  height: 20px;
  line-height: 20px;
  background-color: #474d57;
}

.head-dropdown li:hover a {
  background-color:red;
}

.user-module{
  text-align:left;
  vertical-align:middle;
}

.user input {
  margin-bottom: 5px;
  margin-top: 5px;
  width: 400px;
  height: 30px;
  line-height: 28px;
  font-size: 14px;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
}

.register-btn ,.login-btn{
  background: #0085c9;
  color: #fff;
  line-height: 30px;
}

.username-message,.password-message,.pre-password-message,.btn-message {
  width: 400px;
  font-size: 12px;
  color: red;
}

.to-register-item {
  width: 400px;
  text-align: center;
}

/* 回复 */
.x-interact-publish {
  width: 100%;
  font-size: 13px;
  color: #222;
}

.x-interact-publish-cont {
  display: flex;
  width: 100%;
  background: #f5f5f6;
  border-radius: 12px;
}

.x-interact-publish .text-area {
  padding: 16px 16px 23px;
  width: 100%;
  resize: none;
  background: #f5f5f6;
  border-radius: 12px;
  border: none;
  color: #1f1f1f;
}

.x-interact-publish-panel-center {
  padding-top: 4px;
}

.x-interact-publish-opt {
  position: relative;
  display: flex;
  height: 30px;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 8px;
}
