---
layout: compress
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include sidebar.html %}

    <main id="main" class="open">

      <nav class="top-nav">
        <div class="items">
          <div class="item">
            <a class="top-nav-link" href="/about-site.html">关于网站</a>
          </div>
          <div class="item">
            <a class="top-nav-link" href="/about-me.html">关于我</a>
          </div>
          <div class="item">
            <a class="top-nav-link" href="/suggestions.html">网站建议</a>
          </div>
          <div class="login-item">
            <span class="login"/>
            <ul class="head-dropdown">
              <li>
                <a class="do-login" id="login-btn" href="/login.html">登录</a>
              </li>
              <li>
                <a class="exit" id="exit-btn">退出</a>
              </li>
              <li>
                <a class="register" id="register-btn" href="/register.html">注册</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      </div>

      {{ content }}

      <div class="footer">
        <div class="container">
          <p class="footer-entry">所有内容皆来自网络与自己整理,如有侵权请通过邮箱联系我删除</p>
          备案号:<a class="footer-entry" style="text-decoration:none;color: #BCC1C4;" href="https://beian.miit.gov.cn/" target="_blank">浙ICP备2022006034号-1</a>
        </div>
        <div style="width:300px;margin:0 auto;">
          <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602012264" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
            <img src="/assets/img/beian.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#BCC1C4;">浙公网安备 33010602012264号</p>
          </a>
        </div>
      </div>
    </main>

    <button id="menu" class="open">
      <span id="menu-icons"></span>
    </button>

    <button id="post-toc-menu">
      <span id="post-toc-menu-icons"></span>
    </button>
    <div id="post-toc" class="open" style="height:600px">
      <span id="post-toc-title">Table of Contents</span>
      <ul id="post-toc-ul"></ul>
    </div>

    {% include scripts.html %}
  </body>
</html>
