---
layout: default
---
<article class="post container">
    <div class="post-meta">
        <span class="post-meta-span date">{{ page.date | date:"%Y %B %d" }}</span>
        {% if page.tags.size > 0 %}
        <span class="post-meta-span tag">{{ page.tags | join: ', ' }}</span>
        {% endif %}
    </div>

    <h1 class="post-title">{{ page.title }}</h1>
    {{ content }}
</article>

<div class="post-share">
    <div class="container">
        <a href="http://service.weibo.com/share/share.php?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&title={{ page.title }}"
           target="_blank" class="post-share-icon weibo"></a>
        <span class="share copy">复制链接</span>
        <span class="share result">复制成功</span>
    </div>
    <div class="container friends">

    </div>
</div>

<div id="commentModule">
    <div class="xcp-publish">
        <h2 class="xcp-publish-title">发表评论</h2>
        <div class="xcp-publish-main">
            <div class="left">
                <div class="x-avatar">
                    <div class="x-avatar-placeholder"></div>
                    <div class="x-avatar-img"
                         style="background-image: url(&quot;https://himg.bdimg.com/sys/portrait/item/wise.1.9b1e8e49.w2OyYgTIYRFAecTLno3ixw.jpg?time=5281&quot;);"></div>
                </div>
            </div>
            <div id="xcp-publish-main-right" class="right">
                <div class="x-interact-publish">
                    <div class="x-interact-publish-cont">
                            <textarea contenteditable="true" class="text-area placeholder"
                                      placeholder="发表神评妙论"></textarea>
                        <div class="other"></div>
                    </div>
                    <div class="x-interact-publish-panel-center">

                    </div>
                    <div class="x-interact-publish-opt no-radio">
                        <span class="send enable">发表</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="xcp-list">

    </div>
</div>