---
layout: default
---
<article class="post container">
    <div id="contentId" hidden="true"></div>
  <div class="post-meta">
    <span class="post-meta-span date">{{ page.date | date:"%Y %B %d" }}</span>
    {% if page.tags.size > 0 %}
    <span class="post-meta-span tag">{{ page.tags | join: ', ' }}</span>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  {{ content }}
</article>

<div class="post-share">
  <div class="container">
    <a href="http://service.weibo.com/share/share.php?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&title={{ page.title }}" target="_blank" class="post-share-icon weibo"></a>
    <span class="share copy">复制链接</span>
    <span class="share result">复制成功</span>
  </div>
  <div class="container friends">
    
  </div>
</div>

<div id="commentModule">
    <div>
        <div class="xcp-publish">
            <h2 class="xcp-publish-title">发表评论</h2>
            <div class="xcp-publish-main"><div class="left"><div class="x-avatar">
                <div class="x-avatar-placeholder"></div>
                <div class="x-avatar-img" style="background-image: url(&quot;https://himg.bdimg.com/sys/portrait/item/wise.1.9b1e8e49.w2OyYgTIYRFAecTLno3ixw.jpg?time=5281&quot;);"></div>
                
            </div></div><div id="xcp-publish-main-right" class="right">
                <div class="x-interact-publish">
                    <div class="x-interact-publish-cont">
                        <textarea contenteditable="true" class="text-area placeholder" placeholder="发表神评妙论"></textarea>
                        <div class="other"></div>
                    </div>
                    <div class="x-interact-publish-panel-center">
                        
                    </div>
                    <div class="x-interact-publish-opt no-radio">
                        <span class="send enable">发表</span>
                    </div>
                </div>
            </div></div>
        </div>
    </div>

    <div>
        <div class="xcp-list">
            <h2 class="xcp-list-title">评论列表(281条)</h2>
            <div class="xcp-list-list">
                <div>
                    <div class="xcp-item" data-reply-id="1118924005467729312"><div class="left"><div class="x-avatar">
                        <div class="x-avatar-placeholder"></div>
                        <div class="x-avatar-img" style="background-image: url(https://himg.bdimg.com/sys/portrait/item/wise.1.27fe2bb5.7hXDYeTK0d3OIahW6MztlA.jpg?time=7402)"></div>
                        
                    </div></div><div class="right">
                        
                        <div class="user-bar">
                            <h5 class="user-bar-uname">zhangnan1111ai</h5>
                            
                            
                        </div>
                    
                        
                        <div class="x-interact-rich-text rich-text" data-reply-id="1118924005467729312">
                            
                            
                            
                            
                                    <span class="type-text">然而没有，都是缓兵之计，一个等白俄罗斯和车臣增兵，一个等国际雇佣兵登场。</span>
                                
                            
                        </div>
                    
                        
                        
                        <div class="interact-bar" data-reply-id="1118924005467729312">
                            <div class="interact-bar-left">
                                <span class="time">1小时前</span>
                                <span class="report">举报</span>
                            </div>
                            <div class="interact-bar-right">
                                <div class="reply">
                                    <i class="icon reply-icon"></i>
                                    <span class="reply-text">回复</span>
                                </div>
                                <div class="like ">
                                    <i class="icon like-icon"></i>
                                    <span class="like-text">1948</span>
                                </div>
                            </div>
                        </div>
                    
                    <div><div class="xcp-list"><div class="xcp-list-list is-second"><div><div class="xcp-item" data-reply-id="1118924532011176416"><div class="left"><div class="x-avatar is-small">
                        <div class="x-avatar-placeholder"></div>
                        <div class="x-avatar-img" style="background-image: url(https://himg.bdimg.com/sys/portrait/item/wise.1.eec5bf39.edtuVzcQyQNNohDE2HIdlg.jpg?time=3635)"></div>
                        
                    </div></div><div class="right">
                        
                        <div class="user-bar">
                            <h5 class="user-bar-uname">蓝浩洋</h5>
                            
                            
                        </div>
                    
                        
                        <div class="x-interact-rich-text rich-text" data-reply-id="1118924532011176416">
                            
                            
                            
                            
                                    <span class="type-text">斯拉夫？</span>
                                
                            
                        </div>
                    
                        
                        
                        <div class="interact-bar" data-reply-id="1118924532011176416">
                            <div class="interact-bar-left">
                                <span class="time">14分钟前</span>
                                <span class="report">举报</span>
                            </div>
                            <div class="interact-bar-right">
                                <div class="reply">
                                    <i class="icon reply-icon"></i>
                                    <span class="reply-text">回复</span>
                                </div>
                                <div class="like ">
                                    <i class="icon like-icon"></i>
                                    <span class="like-text">赞</span>
                                </div>
                            </div>
                        </div>
                    
                    </div></div></div><div><div class="xcp-item" data-reply-id="1118924460088815810"><div class="left"><div class="x-avatar is-small">
                        <div class="x-avatar-placeholder"></div>
                        <div class="x-avatar-img" style="background-image: url(https://himg.bdimg.com/sys/portrait/item/wise.1.58296761.Q2UhrvRu_748n6MZvjgZXg.jpg?time=4133)"></div>
                        
                    </div></div><div class="right">
                        
                        <div class="user-bar">
                            <h5 class="user-bar-uname">百度网友b477606</h5>
                            
                            
                        </div>
                    
                        
                        <div class="x-interact-rich-text rich-text" data-reply-id="1118924460088815810">
                            
                            
                            
                            
                                    <span class="type-text">所谓的国际雇佣兵就是北约军队！</span>
                                
                            
                        </div>
                    
                        
                        
                        <div class="interact-bar" data-reply-id="1118924460088815810">
                            <div class="interact-bar-left">
                                <span class="time">26分钟前</span>
                                <span class="report">举报</span>
                            </div>
                            <div class="interact-bar-right">
                                <div class="reply">
                                    <i class="icon reply-icon"></i>
                                    <span class="reply-text">回复</span>
                                </div>
                                <div class="like ">
                                    <i class="icon like-icon"></i>
                                    <span class="like-text">21</span>
                                </div>
                            </div>
                        </div>
                    
                    </div></div></div></div>
                    </div></div></div></div>
                </div>
            </div>
        </div>
    </div>
</div>